:root {
    --negro: #000000;
    --negro-suave: #323132;
    --negro-medio: #2c2c2c;
    --negro-medio-suave: #272727;
    --fondo: #f9f9f9;
}

body {
    background-color: var(--fondo);

}

header {
    font-family: "Montserrat";
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    background-color: var(--fondo);
}

footer .text {
    color: var(--negro-medio-suave);
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 400;
}

footer .arrow {
    color: var(--negro-suave);
    font-size: 29.76px;
    margin-left: 50px;
}

section {
    display: flex;
    justify-content: space-between;
}

section .principal {
    color: var(--negro-medio-suave);
    font-size: 25.6px;
    font-family: "Montserrat";
    font-weight: 700;
    position: absolute;
    z-index: 1;
    margin: 150px 420px 0 0;
    font-weight: bold;
}

section .number-principal {
    color: var(--negro-medio-suave);
    font-size: 190.68px;
    font-family: "Montserrat";
    font-weight: 400;
    position: absolute;
    z-index: 1;
    margin:0 0 200px 460px;
}

.logo_1{
    width: 107.2px;
    height:17.9px;
}

.navvar {
    display: flex;
    font-size: 18.76px;
    flex-direction: row;
}

.navvar li{
    list-style: none;
}
.navvar li a{
    text-decoration: none;
    color: var(--negro-medio);
    text-transform: uppercase;
    margin: 0 30px;
}
.container {
    width: 1137.902px;
    height: 639.987px;
    background: #fff;
    margin: 0;
}

.container__img__background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_backgroud{
    margin-top: 10px;
    height: 451.52px;
    width: 451.52px;
}


.person {
    width: 373.44px;
    height: 514.56px;
    margin:60px 0 0 20px;
    position: absolute;
    z-index: 1;
}

.linea{
    margin: 30px 0 0 18px;
    height: 365.44px;
    width: 2px;
    border-left: #000 1.44px solid;
}

.side__bar{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.side__bar ul li{
    list-style: none;
}

.side__bar ul li img{
    height: 34.24px;
    width: 34.24px;
    margin-bottom: 10px;
}
