:root {
    --negro: #000000;
    --negro-suave: #323132;
    --negro-medio: #2c2c2c;
    --negro-medio-suave: #272727;
    --fondo: #ffffff;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--fondo);
}

header {
    font-family: "montserrat-medium";
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer .text {
    color: var(--negro-medio-suave);
    font-size: 12px;
    font-family: "monserrat-regular";
}

footer .arrow {
    color: var(--negro-suave);
    font-size: 29.76px;
}

section {
    display: flex;
    height: 100%-header-footer;
}

section .principal {
    color: var(--negro-medio-suave);
    font-size: 25.6px;
    font-family: "monserrat-bold";
}

section .number-principal {
    color: var(--negro-medio-suave);
    font-size: 190.68px;
    font-family: "monserrat-regular";
}

.logo_1{
    width: 144.94px;
    height:52.157px;
}

.navvar {
    display: flex;
    font-size: 18.76px;
    flex-direction: row;
}

.navvar li{
    list-style: none;
}
.navvar li a{
    text-decoration: none;
    color: var(--negro-medio);
    text-transform: uppercase;
    margin: 0 30px;
}
.container {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0;
}

.container__img__background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_backgroud{
    height: 568.8px;
    width: 319.838px;
}